// ---- variables ----
$no-padding: 0;
$margin-xs: 16px;
$margin-sm: 18px;
$margin-md: 22px;
$white: #ffffff;

%align-items {
    align-items: center;
}

%section-margin {
    margin-bottom: $margin-xs;
}

%body-margin {
    margin: 0 $margin-xs;
    @include medium-breakpoint {
        margin: 0;
    }
}

// ---- mixins ----
@mixin flex-flow($flex-display, $flex-dir, $flex-justify) {
    display: $flex-display;
    flex-direction: $flex-dir;
    justify-content: $flex-justify;
}

@mixin border-style($width, $style, $color) {
    border: $width $style $color;
  }


@mixin rounded($amount: "10px",$position: null) {
    @if $position != null {
      @if $position == "top" or $position == "bottom" {
        //top or bottom
        -webkit-border-#{$position}-left-radius: $amount;
        -moz-border-#{$position}-left-radius: $amount;
        border-#{$position}-left-radius: $amount;
  
        -webkit-border-#{$position}-right-radius: $amount;
        -moz-border-#{$position}-right-radius: $amount;
        border-#{$position}-right-radius: $amount;
  
      } @else {
        // top-left or top-right or bottom-left or bottom-right
        -webkit-border-#{$position}-radius: $amount;
        -moz-border-#{$position}-radius: $amount;
        border-#{$position}-radius: $amount;      
      }
    } @else {
      // ALL IF EMPTY
      -webkit-border-radius: $amount;
      -moz-border-radius: $amount;
      border-radius: $amount; 
    }
}

@mixin font-style($font-size, $line-height, $font-weight, $text-transform: "lowercase") {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-transform: $text-transform;
}

// ---- icon fonts embeded ----
@font-face {
    font-family: 'sofarsounds';
    src:  url('../fonts/sofarsounds.eot?xej83p');
    src:  url('../fonts/sofarsounds.eot?xej83p#iefix') format('embedded-opentype'),
      url('../fonts/sofarsounds.ttf?xej83p') format('truetype'),
      url('../fonts/sofarsounds.woff?xej83p') format('woff'),
      url('../fonts/sofarsounds.svg?xej83p#sofarsounds') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sofarsounds' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

// ---- default ----
body {
    color: $secondary-color;
}
ul, li {
    list-style: none;
    padding-left: $no-padding;
    margin-bottom: 0px;
}

h1 {
    line-height: 40px;
    color: $white;
    letter-spacing: -1px;
    padding-top: $margin-xs*2;
    @include small-breakpoint {
        @include font-style(3rem, 60px, 800);
    }
    @include medium-breakpoint {
        @include font-style(4rem, 70px, 800);
    }
}

h2 {
    line-height: 2rem;
}

h3 {
    color: $accent-color;
    letter-spacing: -1px;
    margin-bottom: 3px;
    @include font-style(1.1rem, auto, 700, uppercase);
}

// ---- header ----
header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: $margin-xs;
    padding-bottom: $margin-sm*4; 
    @extend %section-margin;
    #logo {
        max-width: 140px;
    }
}

// ---- filter ----
#genre-filter {
    text-align: center;
    text-transform: uppercase;
    padding: 0 $margin-xs;
    color: $primary-color;
    @include font-style(0.98rem, 10px, 700);
    @include flex-flow(flex, row, center);
    @extend %section-margin;
    @include small-breakpoint {
        flex-direction: row;
    }
    @include medium-breakpoint {
        padding: 0;
    }
    li {
        flex: 1 0 0; 
        cursor: pointer; 
        padding: $margin-xs 0;
        @include border-style(2px, solid, $primary-color);
        &:nth-child(n + 2) {
            border-left: 0;
        } 
        &:first-child {
            @include rounded(5px, top-left);
            @include rounded(5px, bottom-left)
        }  
        &:last-child {
            @include rounded(5px, top-right);
            @include rounded(5px, bottom-right)
        }
    }
    // apply active state to genre filter
    .filter-active {
        background-color: $primary-color;
        color: $white;
    }
}

// ---- events ----
#events {
    @extend %body-margin;
}

.event {
    position: relative;
    // transition: all 0.3s;
    cursor: pointer;
    @include border-style(2px, solid, $alternate-color);
    @include rounded(5px);
    @extend %section-margin;
    &:after {
        content: '\e900';
        font-family: 'sofarsounds';
        color: $primary-color;
        position: absolute;
        right: $margin-xs;
        top: 36%;
    }
    .event-date,
    .event-detail {
        padding: $margin-xs $margin-xs;
    }

    .event-date {
        @include flex-flow(flex, column, center);
        @extend %align-items;
        .date {
            @include font-style(2rem, 2.2rem, 700);
        }
        .month {
            @include font-style(1rem, 1rem, 700, uppercase);
        }
    }
    .event-detail {
        border-left: 2px solid $alternate-color;
        @include flex-flow(flex, column, center);
    }
}